/** @format */
.container {
  background-color: rgba(243, 244, 255, 0.182);
  height: 100vh;
}
.content {
  position: relative;
  top: 10vh;
  left: 23vw;
  width: 78vw;
  padding: 20px;
  transition: 500ms;
}
.content.extend {
  width: calc(100vw - 5rem);
  left: 5rem;
  transition: 500ms;
}
.welcome_msg {
  min-height: 10vh;
  line-height: 0.5;
  color: rgba(104, 104, 104, 0.872);
  margin: 0;
}

.welcome_msg h5 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: black;

  /* background-color:red; */
}

.time {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  height: 200px;
  border-radius: 10px;
  color: #fff;
  background: linear-gradient(
      rgba(255, 187, 0, 0.877),
      rgba(0, 179, 255, 0.443)
    ),
    url("../img/Truck.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.time i {
  font-size: 40px;
}
.time span:nth-of-type(1) {
  width: 90px;
  height: 50px;
  font-size: 40px;
  /* border: 1px solid red; */
  padding-left: 10px;
}
.time span:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  min-width: 80px;
  height: 50px;
  /* border: 1px solid red; */
  line-height: 1;
}
.time span p {
  padding: 0;
  margin: 0;
}

.stats_brief > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 0;
  /* border: 2px solid red; */
}
/* statistic card */
.stats_card {
  width: 97%;
  height: 96%;
  border-radius: 10px;
  font-size: 13px;
  padding: 10px 20px;
  line-height: 0.5;
  color: #fff;
}
.stats_card span {
  padding: 5px;
}

/* table card */
.card tr {
  height: 50px;
  /* border: 1px solid red; */
}
.card td {
  /* border: 1px solid rgb(12, 53, 130); */
  vertical-align: middle;
}
.badge {
  width: 100px;
  border-radius: 25px;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
}
.badge_success {
  background-color: rgb(1, 180, 1);
}
.badge_warning {
  background-color: rgb(235, 204, 0);
  color: black;
}
.badge_cancelled {
  background-color: rgb(235, 55, 0);
  color: rgb(255, 255, 255);
}

/* readyLog */
.log_container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  /* padding: 1.125rem 1.375rem; */
  /* border: 1px solid rgb(1, 180, 1); */
}

.report{
  position: relative;
  height: 25rem;
  margin: 20px 0;
  align-items: center;
}
.report .d1{
  height: 90%;
  /* background-color: red; */

}
.report .d1:nth-of-type(3){
  border-left: 2px solid rgba(128, 128, 128, 0.272);

}
.report h2{
  color: #4B49AC;
  font-size: 40px;
  font-weight: 600;
}
.report h5{
  text-transform: capitalize;
}
.report h6{
  color: #4B49AC;
  font-size: 25px;
  font-weight: lighter;
  text-transform: capitalize;
}
.report p{
  color: #4c4c4c;
  font-size: 13px;
  text-transform: capitalize;
}

.progress_bar {
  width: 80%;
  background-color: rgb(228, 226, 226);
}
.progress_bar_c1 {
  background-color: rgba(0, 6, 88, 0.722);
}

.fig {
  width: 10%;
  color: #737f8b;
  /* background-color: rgb(235, 204, 0); */
}
.fig:nth-last-of-type(1) {
  text-align: center;
}
.bot{
  width: 80%;
  margin: auto;
  color: #7b7b7b;
}
.bot span:nth-of-type(1) {
  width: 10%;
}
.bot span:nth-of-type(1) {
  width: 20%;
}
.bot span:nth-of-type(1) {
  width: 770%;
}
.s1{
  margin-left: 20px;
}
.bot p:nth-last-of-type(1) span::before{
   background-color: rgb(150, 115, 0);

}
.bot p:nth-last-of-type(2) span::before{
   background-color: rgb(255, 221, 0);

}
.bot p:nth-last-of-type(3) span::before{
   background-color: rgb(20, 2, 218);

}
.s1::before{
  content: '';
  position:absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
@media (max-width: 990px) {
  .content {
    position: relative;
    left: 0;
    width: 100vw;
  }
  .content.extend {
    width: 100vw;
    left: 0;
    margin: 0 auto;
    

  }
  .report{
  height: auto;

}
.report .d1:nth-of-type(3){
  border-left: 0;

}
}

@media (max-width: 768px) {
  .stats_card {
    width: 100%;
    height: 96%;
    margin: 90px 0;
  }
  .welcome_msg {
  line-height: 1;
  color: rgba(104, 104, 104, 0.872);
}

}
@media (max-width: 568px) {
  .welcome_msg h5 {
  font-size: 1rem;
  line-height: 1;

}
  .welcome_msg {
font-size: 11px;
}
}
